@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top: 21px;">
    <div class="col-md-12">
        <h2>My Lists:</h2>
        <div class="col-md-12" style="margin-top: 33px;">
            <a class="btn btn-primary" href="/CarList"> Car List </a>
        </div>
    </div>
</div>
